<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="True" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="CBindingbasic" closeTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <!--<security mode="None" />-->
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="CBindingWeb" hostNameComparisonMode="WeakWildcard" allowCookies="True" bypassProxyOnLocal="True" transferMode="Buffered" useDefaultWebProxy="True" closeTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <!--<security mode="None" />-->
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>

      <wsHttpBinding>
        <!--<binding name="CBindingWs" hostNameComparisonMode="WeakWildcard" allowCookies="True" bypassProxyOnLocal="True" transactionFlow="True" useDefaultWebProxy="True" closeTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">-->
        <binding name="CBindingWs" closeTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession enabled="True" inactivityTimeout="00:05:00" />
          <!--<security mode="None" >
            <transport proxyCredentialType="None" clientCredentialType="None" />
          </security >-->
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>

      <mexHttpBinding>
        <binding name="CBindingMex" closeTimeout="00:05:00" />
      </mexHttpBinding>  
    </bindings>
    
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CBindingbasic" behaviorConfiguration="MyEnpointBehavior" contract="*" name="wsdlServiceClient" />
    </client>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyEnpointBehavior">
          <dispatcherSynchronization asynchronousSendEnabled="true" />
          <dataContractSerializer ignoreExtensionDataObject="false" />
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
          <serviceAuthenticationManager authenticationSchemes="None" />
          <serviceAuthorization principalPermissionMode="Always" roleProviderName="AspNetSqlRoleProvider"
            impersonateCallerForAllOperations="false" impersonateOnSerializingReply="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
         <service name="AppWSDL.ServiceWSDL" behaviorConfiguration="MyServiceTypeBehaviors" >
        <endpoint address="materialCreateChangeService" behaviorConfiguration="MyEnpointBehavior" binding="basicHttpBinding" bindingConfiguration="CBindingbasic" name="MaterialCreateChangeConsumerBinding" bindingNamespace="http://services.tint.telekom.net/SupAndPartMgmt/LogWarehouseMgmt/MaterialCreateChange/v1" contract="AppWSDL.MaterialCreateChange.ImaterialCreateChange" bindingName="ImaterialCreateChange" />
        <endpoint address="SendDeliveryDocumentService" behaviorConfiguration="MyEnpointBehavior" binding="basicHttpBinding" bindingConfiguration="CBindingbasic" name="SendDeliveryDocumentConsumerBinding" bindingNamespace="http://services.tint.telekom.net/SupAndPartMgmt/LogWarehouseMgmt/SendDeliveryDocument/v1" contract="AppWSDL.SendDeliveryDocument.ISendDeliveryDocument" bindingName="ISendDeliveryDocument" />
        <endpoint address="GoodsMovementService" behaviorConfiguration="MyEnpointBehavior" binding="basicHttpBinding" bindingConfiguration="CBindingbasic" name="GoodsMovementConsumerBinding" bindingNamespace="http://services.tint.telekom.net/SupAndPartMgmt/LogWarehouseMgmt/GoodsMovement/v1" contract="AppWSDL.GoodsMovementService.IGoodsMovementService" bindingName="IGoodsMovementService" />
        <endpoint address="SendPostingToDeliveriesService" behaviorConfiguration="MyEnpointBehavior" binding="basicHttpBinding" bindingConfiguration="CBindingbasic" name="SendPostingToDeliveriesConsumerBinding" bindingNamespace="http://services.tint.telekom.net/SupAndPartMgmt/LogWarehouseMgmt/SendPostingToDeliveries/v1" contract="AppWSDL.SendPostingToDeliveries.ISendPostingToDeliveries" bindingName="ISendPostingToDeliveries" />
        <endpoint address="StockRequestService" behaviorConfiguration="MyEnpointBehavior" binding="basicHttpBinding" bindingConfiguration="CBindingbasic" name="StockRequestBinding" bindingNamespace="http://services.tint.telekom.net/SupAndPartMgmt/LogWarehouseMgmt/StockRequest_v01.00/provider" contract="AppWSDL.StockRequestService.IStockRequestService" bindingName="IStockRequestService" />
        <endpoint address="StockRequestConsumerService" behaviorConfiguration="MyEnpointBehavior" binding="basicHttpBinding" bindingConfiguration="CBindingbasic" name="StockRequestConsumerBinding" bindingNamespace="http://services.tint.telekom.net/SupAndPartMgmt/LogWarehouseMgmt/StockRequest_v01.00/consumer" contract="AppWSDL.StockRequestService.IStockRequestConsumerService" bindingName="IStockRequestConsumerService" />
        <endpoint address="CourierDeliveryManagementSoapPortTypeService" behaviorConfiguration="MyEnpointBehavior" binding="basicHttpBinding" bindingConfiguration="CBindingbasic" name="CourierDeliveryManagementSoapPortTypeBinding" bindingNamespace="https://www.App.sk/soa/COURIERSERVICESInterface" contract="AppWSDL.CourierDeliveryManagementSoapPortTypeService.ICourierDeliveryManagementSoapPortTypeService" bindingName="ICourierDeliveryManagementSoapPortTypeService" />
        <endpoint address="WMSDeliveryManagementService" behaviorConfiguration="MyEnpointBehavior" binding="basicHttpBinding" bindingConfiguration="CBindingbasic" name="WMSDeliveryManagementBinding" bindingNamespace="http://logisticsordermanagement.supplypartnermanagement.tmobile.cz/ws/services/wmsdeliverymanagement" contract="AppWSDL.WMSDeliveryManagementService.IWMSDeliveryManagementService" bindingName="IWMSDeliveryManagementService" />
      </service>
    </services>
    <!-- po zadosti o implementaci nebylo pozadoovano zde{ ale ve sluzbe} -->
    <!--<endpoint address="IcourierDeliveryStatusService" binding="basicHttpBinding" bindingConfiguration="ConsumerBinding"
         name="courierDeliveryStatusSoap11" bindingNamespace="http://srv/oss/courierdeliverystatusrequest"
         contract="AppWSDL.courierDeliveryStatusService.IcourierDeliveryStatusService"/>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ConsumerBinding"
         name="CourierServiceWriteBinding" bindingNamespace="http://srv/SupAndPartMgmt/LogOrderMgmt/Couriers/CourierServiceWrite/v01"   
         contract="AppWSDL.CourierServiceWriteService.ICourierServiceWriteService" />-->

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" >
      <!--<serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./ServiceWSDL.svc"
              service="AppWSDL.ServiceWSDL" ></add>
      </serviceActivations>-->
    </serviceHostingEnvironment>
  </system.serviceModel>
    <system.webServer>
    <!--<validation validateIntegratedModeConfiguration="true" />-->
      <modules runAllManagedModulesForAllRequests="true" >
        <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </modules>
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<applicationInitialization skipManagedModules="true" />-->
  </system.webServer>
  <connectionStrings>
    <add name="SHARPCONN" connectionString="" />
 </connectionStrings>
</configuration>
