<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WMSDeliveryManagementBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/cz-tmobile-supplypartnermanagement-logisticsordermanagement-ws-services-wmsdeliverymanagement.soap2jms/"
                binding="basicHttpBinding" bindingConfiguration="WMSDeliveryManagementBinding"
                contract="WMSDeliveryManagement" name="WMSDeliveryManagement" />
        </client>
    </system.serviceModel>
</configuration>